.mc-container {
    min-width: 350px;
    width: 100%;
    height: 100%;
    padding: 15px;
    gap: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-bg);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    position: relative;
}

.mc-container::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('../Assets/menu-bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.2;
    /* 👈 atur disini */
    z-index: 0;
}


.mc-container>* {
    position: relative;
    z-index: 1;
}

/* =======================
MENU HEADER
======================= */
.menu-header {
    border-bottom: 1px solid var(--color-border);
    padding: 10px;
    /* padding-bottom: 0; */
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mc-icon {
    font-size: 25px;
    background-color: #8686862f;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
}

.mc-icon:hover,
.mc-icon:active {
    background-color: #868686;
    color: var(--color-accent-bold);
}


.menu-header h2 {
    font-size: var(--text-xl);
    letter-spacing: 4px;
    color: var(--color-accent-soft);
}

.mc-container img {
    width: 100%;
}

/* =======================
MENU CONTENT
======================= */
.menu-content {
    width: 90%;
    height: 75vh;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;

    scrollbar-width: none;

    /* background-image: url('../Assets//menu-bg.png'); */
    background-size: cover;
    background-repeat: no-repeat;
}


.menu-content .mc-box {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
}

.mc-box .mc-box-header {
    width: 100%;
    padding: 0;

    /* border: 1px solid var(--color-border); */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mc-box-icon {
    border-right: 1px solid var(--color-text-secondary);
    border-bottom: 1px solid var(--color-text-secondary);
    padding: 10px;
    font-size: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mc-box-title {
    padding: 12px;
    width: 100%;
    border-bottom: 1px solid var(--color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mc-box-title h3 {
    color: var(--color-accent-soft);
    font-weight: bold;
    font-size: var(--text-base);
    letter-spacing: 2px;
}

.mc-box-title h2 {
    font-family: var(--font-primary);
    letter-spacing: 3px;
    font-weight: 400;
    font-size: var(--text-md);
}

/* =======================
MC BOX CONTENT
======================= */
.mc-box-content {
    /* border: 1px solid red; */
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mc-box-content .mc-left {
    /* border: 1px solid green; */
    width: 19%;
    height: 100%;
    color: var(--color-bg);
}

.mc-box-content .mc-right {
    border-left: 1px solid var(--color-text-secondary);
    gap: 10px;
    padding: 5px 15px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mc-box-right {
    width: 100%;
    /* border: 1px solid blue; */
    gap: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mc-box-right p,
.mc-box-right span {
    font-weight: bold;
    font-size: 13px;
}